<a href="https://colab.research.google.com/github/SnehaDharne/OcularDiseaseRecognition/blob/main/ODIR_balanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
path = '/content/drive/MyDrive/archive/ODIR-5K/ODIR-5K/odir.csv'

In [ ]:
import pandas as pd
df= pd.read_csv(path)

In [ ]:
import cv2
import os
data_dir_preprocessed = "/content/drive/MyDrive/ODIR-5K/clahe+mirnet"

In [ ]:
balanced_data['filename'] = ""
balanced_data['filename'] = balanced_data.apply(lambda row: os.path.join(data_dir_preprocessed, str('clahe_mirnet_'+row['ID'])), axis=1)

In [ ]:
import pandas as pd
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import TomekLinks
from sklearn.preprocessing import OneHotEncoder

# Load the dataset into a pandas DataFrame
data = pd.read_csv(path)

# Separate the features (image IDs) and labels
X = data['ID']
y = data[['Normal', 'Diabetes', 'Glaucoma', 'Cataract', 'AMD', 'Hypertension', 'Myopia', 'Others']]

# Create a new DataFrame for the balanced dataset
balanced_data = pd.DataFrame(columns=['ID', 'Normal', 'Diabetes', 'Glaucoma', 'Cataract', 'AMD', 'Hypertension', 'Myopia', 'Others'])

# Encode the "ID" column using OneHotEncoder
encoder = OneHotEncoder(sparse=False)
X_encoded = encoder.fit_transform(X.values.reshape(-1, 1))

# Balance each label separately
for column in y.columns:
    label = y[column]

    # Apply SMOTE oversampling
    smote = SMOTE()
    X_oversampled, y_oversampled = smote.fit_resample(X_encoded, label)

    # Apply TomekLinks undersampling
    tomek = TomekLinks()
    X_resampled, y_resampled = tomek.fit_resample(X_oversampled, y_oversampled)

    # Convert the encoded features back to the original string identifiers
    X_resampled_decoded = encoder.inverse_transform(X_resampled)

    # Create a temporary DataFrame for the balanced label
    balanced_label = pd.DataFrame({'ID': X_resampled_decoded.flatten(), column: y_resampled})

    # Concatenate the temporary DataFrame to the balanced dataset
    balanced_data = pd.concat([balanced_data, balanced_label], ignore_index=True)

# Save the balanced dataset to a CSV file
# balanced_data.to_csv('balanced_dataset.csv', index=False)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [ ]:
balanced_data.loc[(balanced_data.ID == "43_right.jpg") ]

,ID,Normal,Diabetes,Glaucoma,Cataract,AMD,Hypertension,Myopia,Others
83,43_right.jpg,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7553,43_right.jpg,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
17099,43_right.jpg,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
23570,43_right.jpg,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
23598,43_right.jpg,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
54571,43_right.jpg,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
54583,43_right.jpg,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
54669,43_right.jpg,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
67387,43_right.jpg,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
79965,43_right.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [ ]:
balanced_data.Cataract.value_counts()

1    6276
0    6276
Name: Cataract, dtype: int64

In [ ]:
columns=['Normal', 'Diabetes', 'Glaucoma', 'Cataract', 'AMD', 'Hypertension', 'Myopia', 'Others']

for col in columns:
  print(balanced_data[col].value_counts())

0    3735
1    3735
Name: Normal, dtype: int64
0    4773
1    4773
Name: Diabetes, dtype: int64
0    6238
1    6238
Name: Glaucoma, dtype: int64
1    6276
0    6276
Name: Cataract, dtype: int64
0    6271
1    6271
Name: AMD, dtype: int64
0    6359
1    6359
Name: Hypertension, dtype: int64
0    6289
1    6289
Name: Myopia, dtype: int64
0    5427
1    5427
Name: Others, dtype: int64

In [ ]:

# Iterate over the rows of the balanced dataset
for index, row in balanced_data.iterrows():
    id_value = row['ID']

    # Find the corresponding row in the previous dataset
    previous_row = df[df['ID'] == id_value]

    # Check if a matching row is found
    if len(previous_row) > 0:
        # Fill null values in the balanced dataset with corresponding values from the previous dataset
        balanced_data.loc[index] = balanced_data.loc[index].fillna(previous_row.iloc[0])
    else:
        print(f"No matching row found for ID: {id_value}")

In [ ]:
balanced_data.to_csv('/content/drive/MyDrive/ODIR-5K/balanced_dataset_filled.csv', index=False)

In [ ]:
li = balanced_data.ID.value_counts()

In [ ]:
li

43_right.jpg      1229
2_left.jpg         742
23_right.jpg       649
18_left.jpg        644
0_left.jpg         637
                  ...
2675_left.jpg        8
2675_right.jpg       8
2677_left.jpg        8
2677_right.jpg       8
2368_right.jpg       8
Name: ID, Length: 6551, dtype: int64

In [ ]:
import pandas as pd

# Load the dataset into a pandas DataFrame
data = balanced_data

# Calculate the desired occurrence for each ID
desired_occurrence = 8

# Group the data by ID and calculate the current occurrence for each ID
current_occurrence = data['ID'].value_counts()

# Initialize an empty DataFrame for the filtered dataset
filtered_data = pd.DataFrame()

# Iterate over each unique ID
for ID, group in data.groupby('ID'):
    # Calculate the number of samples to keep for this ID
    samples_to_keep = max(current_occurrence[ID] // desired_occurrence, 1)

    # Sample the data to keep the desired number of samples
    subset = group.sample(n=samples_to_keep, random_state=42)

    # Append the subset to the filtered dataset
    filtered_data = pd.concat([filtered_data, subset])

# Reset the index of the filtered dataset
filtered_data = filtered_data.reset_index(drop=True)

In [ ]:
filtered_data.ID.value_counts()

43_right.jpg      151
2_left.jpg         99
23_left.jpg        85
23_right.jpg       81
13_left.jpg        80
                 ...
2884_left.jpg       1
2883_right.jpg      1
2883_left.jpg       1
2882_right.jpg      1
9_right.jpg         1
Name: ID, Length: 6551, dtype: int64

In [ ]:
for col in columns:
  print(filtered_data[col].value_counts())

0    7416
1    2866
Name: Normal, dtype: int64
0    7715
1    2567
Name: Diabetes, dtype: int64
0    9231
1    1051
Name: Glaucoma, dtype: int64
0    9372
1     910
Name: Cataract, dtype: int64
0    9269
1    1013
Name: AMD, dtype: int64
0    9373
1     909
Name: Hypertension, dtype: int64
0    9373
1     909
Name: Myopia, dtype: int64
0    8694
1    1588
Name: Others, dtype: int64

In [ ]:
filtered_data.to_csv('/content/drive/MyDrive/ODIR-5K/balanced_dataset_filled.csv', index=False)

In [ ]:
filtered_data.Cataract.value_counts()

0    9383
1     918
Name: Cataract, dtype: int64

In [ ]:
balanced_data.Diabetes.value_counts()

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/ODIR-5K/balanced_dataset_filled.csv')

In [ ]:
df

,ID,Normal,Diabetes,Glaucoma,Cataract,AMD,Hypertension,Myopia,Others
0,0_left.jpg,0,0,0,1,0,0,0,0
1,0_left.jpg,0,0,0,1,0,0,0,0
2,0_left.jpg,0,0,0,1,0,0,0,0
3,0_left.jpg,0,0,0,1,0,0,0,0
4,0_left.jpg,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...
10306,999_right.jpg,0,0,0,1,0,0,0,0
10307,99_left.jpg,0,0,0,0,0,0,0,1
10308,99_right.jpg,1,0,0,0,0,0,0,0
10309,9_left.jpg,1,0,0,0,0,0,0,0
10310,9_right.jpg,0,0,0,0,0,0,0,1

In [ ]:
for col in df.columns:
  print(df[col].value_counts())

43_right.jpg      155
2_left.jpg         90
11_right.jpg       83
53_left.jpg        82
13_left.jpg        81
                 ...
2889_right.jpg      1
2889_left.jpg       1
2888_right.jpg      1
2888_left.jpg       1
9_right.jpg         1
Name: ID, Length: 6551, dtype: int64
0    7439
1    2872
Name: Normal, dtype: int64
0    7759
1    2552
Name: Diabetes, dtype: int64
0    9250
1    1061
Name: Glaucoma, dtype: int64
0    9392
1     919
Name: Cataract, dtype: int64
0    9287
1    1024
Name: AMD, dtype: int64
0    9405
1     906
Name: Hypertension, dtype: int64
0    9394
1     917
Name: Myopia, dtype: int64
0    8711
1    1600
Name: Others, dtype: int64